.btn {
    border: 1px solid rgb(53, 121, 187);
    border-radius: 10px;
    background-color: rgb(53, 121, 187);
    width: 200px;
    height: 100px;
    color: white;
    font-size: 20px;
}

.logo {
    height: 150px;
    width: 180px;
}




.img-fluid {
    height: 100vh !important;
}



.input-field {
    width: 300px;
    height: 50px;

}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.firstCol {
    display: flex;
    justify-content: center;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-top: auto;
    margin-bottom: auto;
}


.secondCol {
    display: flex;
    justify-content: flex-end;
    padding-right: 0px !important;
    padding-left: 0px !important;
}