<!-- <div align="center" class="mt-5">
    <button (click)="scanData()" class="btn">Ready to Scan</button>
</div> -->
<div class="main">
    <div class="row">
        <div class="col-4 firstCol">
            <button (click)="scanData()" class="btn">Ready to Scan</button>
        </div>
        <div class="col-8 secondCol">
            <img src="assets/Images/loginscreen.png" alt="visionimage" id="badge" class='img-fluid w-100'>
        </div>
    </div>


</div>