// .data {
//     border: 1px solid rgb(53, 121, 187);
//     background-color: aliceblue;
//     border-radius: 10px;
//     padding: 20px 100px;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // flex-direction: row;
// }

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

tr,
th {
    padding: 1em;
    background: rgb(244, 247, 250);
    border-bottom: 2px solid rgb(53, 121, 187);
    color: gray;
    font-size: 18px;
}

tr,
td {
    border-bottom: 1px solid gray;
    font-weight: 500;
    padding: 1em;
}

.firstDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.job {
    // border: 1px solid rgb(53, 121, 187);

    // padding: 20px 50px;
    width: 100px;
    background-color: aliceblue;
    border-radius: 10px;

}

.boxCount {
    border: 1px solid rgb(53, 121, 187);
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px 50px;
}

.btn {
    background-color: rgb(53, 121, 187);
    width: 250px;
    height: 70px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}




.palletdetails {
    display: flex;
    // flex-direction: row;
    background-color: rgb(244, 247, 250);
    padding: 20px 20px;
    align-items: center;
    border-radius: 10px;

}

.palletboxes {
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 247, 250);
    // padding: 20px 20px;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 30%;
    justify-content: center;
}

.imageDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    border: 3px dotted gray;
    border-radius: 10px;
    padding: 25px 25px;
}