<div>
    <div class="row">
        <div class="col-6">
            <h3 style="color:gray;font-size: 18px;" class="ml-4">Job ID</h3>
            <div class="palletdetails">
                <div style="border:2px solid rgb(53, 121, 187);padding:10px 10px;border-radius: 10px;color:rgb(53, 121, 187);font-size: 24px;"
                    class="">
                    101102</div>
            </div>
            <h3 style="color:gray;font-size: 18px;" class="ml-4 mt-3">Boxes Count</h3>
            <div class="palletboxes">
                <h1 style="font-size:150px;color:rgb(53, 121, 187)">{{boxCount}}</h1>
                <h1 style="color:gray;font-size: 24px;margin-top: 20px;">Boxes</h1>
            </div>
            <div class="mt-5">
                <table>
                    <tr>
                        <th>Box ID</th>
                        <th>Part Number</th>
                        <th>Box Qty</th>
                        <!-- <th>Part Qty</th> -->
                    </tr>
                    <tr *ngFor="let item of detailsData">
                        <td>{{item['box_id']}}</td>
                        <td>{{item['part_nu']}}</td>
                        <td>{{item['quantity']}}</td>
                        <!-- <td>{{item['quantity']}}</td> -->
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-6 imageDiv mt-2">
            <div style="display: flex;justify-content: center;" class="mt-3">
                <button class="btn" (click)="sendTOdb()">SaveDolleyData</button>
            </div>
            <div class="mt-4 image">
                <img id="testimg" src="assets\Images\cameraImage.png" style="width:100%;height:100%">

            </div>
        </div>
    </div>
</div>